Repository avivharuzi/ngx-seo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{html,css,scss,js,ts,jsx,tsx,json,md}": "prettier --write",
  "*.{js,ts,jsx,tsx}": "eslint --fix"
}

fix: 🐛 package.json peerDependencies
  packages/ngx-seo/package.json
Due: prettier --write

fix: 🐛 listenToRouteEvents not subscribing
  packages/ngx-seo/src/lib/ngx-seo.module.ts
Due: prettier --write, eslint --fix

chore: 🤖 update to 13.0.1
  packages/ngx-seo/package.json
Due: prettier --write

chore: 🤖 update to angular 14
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  .releaserc.json
  .vscode/extensions.json
  README.md
  angular.json
  decorate-angular-cli.js
  jest.config.js
  jest.config.ts
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  packages/ngx-seo/jest.config.js
  packages/ngx-seo/package.json
  packages/ngx-seo/project.json
  packages/ngx-seo/src/lib/ngx-seo.service.ts
  packages/ngx-seo/tsconfig.json
  packages/ngx-seo/tsconfig.spec.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

fix: 🐛 pr workflow
  .github/workflows/pr.yml
Due: none

fix: 🐛 test run
  packages/ngx-seo/jest.config.ts
Due: prettier --write, eslint --fix

chore(release): 14.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ad60df4a2a0e2af04d74bc3b63bdc3c618f0a0ca
Due: none

chore: 🤖 update to angular 15
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .gitignore
  .prettierignore
  README.md
  angular.json
  decorate-angular-cli.js
  nx.json
  package-lock.json
  package.json
  packages/ngx-seo/.browserslistrc
  packages/ngx-seo/package.json
  packages/ngx-seo/project.json
  packages/ngx-seo/tsconfig.json
  packages/ngx-seo/tsconfig.lib.json
  packages/ngx-seo/tsconfig.lib.prod.json
  packages/ngx-seo/tsconfig.spec.json
Due: prettier --write, eslint --fix

feat: 🎸 remove npm script
  package.json
Due: prettier --write

chore(release): 15.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  62fb38d61fc72903d370f7c60d07460e3ed9b352
Due: none

fix: 🐛 angular compilation
  packages/ngx-seo/tsconfig.lib.prod.json
Due: prettier --write

ci: 🎡 fix publish npm
  .github/workflows/ci.yml
Due: none

chore(release): 15.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7514aa10f8d5b07d7bb0fb104b920ea939800278
Due: none

chore: run nx migrate latest
  README.md
  package-lock.json
  package.json
  packages/ngx-seo/package.json
Due: prettier --write

chore: run nx migrations
  .eslintignore
  .eslintrc.json
  jest.config.ts
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  packages/ngx-seo/.eslintrc.json
  packages/ngx-seo/jest.config.ts
  packages/ngx-seo/project.json
  tools/generators/.gitkeep
Due: prettier --write, eslint --fix

chore: add migrations.json to gitignore
  .gitignore
Due: none

chore: 🤖 update to angular 16
  .eslintignore
  .eslintrc.json
  README.md
  jest.config.ts
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  packages/ngx-seo/.eslintrc.json
  packages/ngx-seo/jest.config.ts
  packages/ngx-seo/package.json
  packages/ngx-seo/project.json
  packages/ngx-seo/src/test-setup.ts
  packages/ngx-seo/tsconfig.spec.json
  tools/generators/.gitkeep
  tools/tsconfig.tools.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

fix: 🐛 readme
  README.md
Due: prettier --write

chore(release): 16.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  29c265dbbd335f2997d7410dcb19de7a0f1c95c4
Due: none
